/* my fonts from Google Fonts

font-family: 'Hind Siliguri', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Josefin Slab', serif;
font-family: 'Metamorphous', cursive;
font-family: 'Noto Serif SC', serif;


*/
