* {
  line-height: normal;
}
/* Page-Wide */
body {
  background-color: #513857;
}

p, a {
  margin-bottom: 2em;
  text-decoration: none;
  color: inherit;
}

/* text container with different color from background to make it stand out */
.text-container {
       background-color: rgb(253, 245, 230);
       width: Auto;
       margin: 5em;
       padding: 4em;
       border: 1px solid black;
       border-radius: 6px;
     }


/* Paragraph Content */
.content {
  font-size: 1.25em;
  text-indent: 1.5em;
  line-height: 1.45em;
  font-weight: 400;
}
.content p:first-child {
  text-indent: 0;
}
.content p:first-of-type:first-letter {
  font-family: 'Meddon', cursive;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 700;
  color: rgb(11, 44, 126);
}


/* Specific Instances */
.spoken {
  font-style: italic;
}
#first-offer .spoken {
  font-weight: 700;
  color: rgb(147, 12, 76);
}


/* Decorative Line Divider */
.divider {
  border-bottom: 3px solid rgb(255,200,80);
  width: 20%;
  margin: 4em auto;
}


/* "Read More!" Button */
#button-container {
  width: 15em;
  height: 4em;
  margin: auto;
}
.button p {
  font-size: 1.25em;
  text-align: center;
  color: #FFFFFF;
}
.button p:active {
  color: #bdb328;
}
.button {
  height: 100%;
  background-color: #bdb328;
  border-color: #8f8b8b #383636 #383636 #8f8b8b;
  border-width: 6px 10px 10px 6px;
  border-style: solid;
}
.button:hover {
  background-image: url('../images/sparkles.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.button:active {
  background-color: rgb(6,26,75);
  border-color: #383636 #8f8b8b #8f8b8b #383636;
  border-width: 10px 6px 6px 10px;
}

/*my fonts*/

.title {
  font-family: 'Metamorphous', 'Noto Serif SC', cursive;
  font-size: 75pt;
  text-indent: 2.5em;
  float: center;
}

.subtitle {
  font-family: 'Metamorphous', 'Noto Serif SC', cursive;
  font-size: 32pt;
  text-indent: 2.5em;
  color: #343135;
  float: center;
}

.chapter {
  font-family: 'Josefin Slab', 'Noto Serif SC', serif;
  font-size: 22pt;
  color: #23042a;
  float: center;
  text-align: center;
}


.p{
  font-family: 'Cinzel', 'Josefin Slab', serif;
  font-size: 1.25em;
  text-indent: 1.5em;
  line-height: 1.45em;
  font-weight: 400;
}
