.module {
  background: white;
  border: 1px solid #ccc;
  margin: 3%;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
  /*animation: widen 10s linear alternate infinite;*/
}


.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #f7d08a,
    #f7d08a 100px,
    #87b6a7 100px,
    #87b6a7 200px
  );
}
