body {
  background-color: #E8D8B9;
}


/*my colored shapes*/

.box {
  zoom: 1;

  width: 800px;
  height: 100px;
  float: center;
}

.box-1 {
   background-color: #D6A32C;
   width: 800px;
   height: 100px;
}


.box-2 {
   background-color: #D6792C;
   width: 800px;
   height: 100px;
}

.box-3 {
   background-color: #5DBFA0;
   width: 800px;
   height: 100px;
}

.box-4 {
   background-color: #42321F;
   width: 800px;
   height: 100px;
}

/*here comes my text*/
.text-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 400px;
  position: absolute;

  /* For Fun! To Center Vertically and Horizontally */
  top: 50%;
  left: 86%;
     -ms-transform: translate(-50%, -50%); /* IE 9 */
 -webkit-transform: translate(-50%, -50%); /* Safari 3-8 */
         transform: translate(-50%, -50%);
}
h1+p {
  background-color: black;
  color: white;
  padding: 5px;
  letter-spacing: 4px;
}
