.image {
   background-color: white;
   width: 500px;
   height: 500px;
   position: absolute;
}


.box {
  zoom: 1;

  width: 300px;
  height: 100px;
  float:right;
}

#f7d08a {
   background-color: #f7d08a;
   top: 0;
  left: 0;
}

}

.box-2 {
   background-color: #f79f79;
   width: 300px;
   height: 100px;
}

.box-3 {
   background-color: #87b6a7;
   width: 300px;
   height: 100px;
}

/* Text */
.text-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 400px;
  position: absolute;

  /* For Fun! To Center Vertically and Horizontally */
  top: 50%;
  left: 86%;
     -ms-transform: translate(-50%, -50%); /* IE 9 */
 -webkit-transform: translate(-50%, -50%); /* Safari 3-8 */
         transform: translate(-50%, -50%);
}
h1+p {
  background-color: black;
  color: white;
  padding: 5px;
  letter-spacing: 4px;
}
