#image-container {
  /* positioning: */
  position: absolute;
  bottom: 0;
  left: 0;
}
.background-image {
/* layering: */
  z-index: -1;
}
#overlay {
  width: 100%;
  height: 100%;
  background-image: "/images/yellow-lines.jpg";
  background-size: cover;
  opacity: .3;
/* positioning: */
  position: absolute;
  top: 0;
  left: 0;
/* layering: */
  z-index: 0;
}
